.main{
    width: 85%;
    margin: 0 auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.carts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}